In [1]:
import pandas as pd
import re

In [2]:
#Import data
df = pd.read_csv('/kaggle/input/data-science-job-posting-on-glassdoor/Uncleaned_DS_jobs.csv')
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [3]:
#Changing the unit of value of Salary Estate
df['Salary Estimate'] = df['Salary Estimate'].str.replace('K', '000')
df['Salary Estimate']

0      $137000-$171000 (Glassdoor est.)
1      $137000-$171000 (Glassdoor est.)
2      $137000-$171000 (Glassdoor est.)
3      $137000-$171000 (Glassdoor est.)
4      $137000-$171000 (Glassdoor est.)
                     ...
667    $105000-$167000 (Glassdoor est.)
668    $105000-$167000 (Glassdoor est.)
669    $105000-$167000 (Glassdoor est.)
670    $105000-$167000 (Glassdoor est.)
671    $105000-$167000 (Glassdoor est.)
Name: Salary Estimate, Length: 672, dtype: object

In [4]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x : re.sub(r'[^0-9-]', '', x))
df['Salary Estimate']

0      137000-171000
1      137000-171000
2      137000-171000
3      137000-171000
4      137000-171000
           ...
667    105000-167000
668    105000-167000
669    105000-167000
670    105000-167000
671    105000-167000
Name: Salary Estimate, Length: 672, dtype: object

In [5]:
#removing unnecessary information from values in the Company Name, Job Description column
df['Job Description'] = df['Job Description'].str.replace('\n', ' ', regex = True)
df['Company Name'] = df['Company Name'].str.split('\n').str[0]
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,137000-171000,Description The Senior Data Scientist is resp...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,137000-171000,"Secure our Nation, Ignite your Future Join th...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,137000-171000,Overview Analysis Group is one of the larges...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,137000-171000,JOB DESCRIPTION: Do you have a passion for Da...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,137000-171000,Data Scientist Affinity Solutions / Marketing ...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,105000-167000,Summary We’re looking for a data scientist to...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,105000-167000,Job Description Become a thought leader within...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,105000-167000,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,105000-167000,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,105000-167000,Description The Data Scientist will be part o...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [6]:
#Check informations
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [7]:
#Removing unnecessary columns
df = df.drop(['Headquarters', 'Sector', 'Competitors'], axis = 1)
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue
0,0,Sr Data Scientist,137000-171000,Description The Senior Data Scientist is resp...,3.1,Healthfirst,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Unknown / Non-Applicable
1,1,Data Scientist,137000-171000,"Secure our Nation, Ignite your Future Join th...",4.2,ManTech,"Chantilly, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,$1 to $2 billion (USD)
2,2,Data Scientist,137000-171000,Overview Analysis Group is one of the larges...,3.8,Analysis Group,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,$100 to $500 million (USD)
3,3,Data Scientist,137000-171000,JOB DESCRIPTION: Do you have a passion for Da...,3.5,INFICON,"Newton, MA",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,$100 to $500 million (USD)
4,4,Data Scientist,137000-171000,Data Scientist Affinity Solutions / Marketing ...,2.9,Affinity Solutions,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,105000-167000,Summary We’re looking for a data scientist to...,3.6,TRANZACT,"Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Unknown / Non-Applicable
668,668,Data Scientist,105000-167000,Job Description Become a thought leader within...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1
669,669,Data Scientist,105000-167000,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1
670,670,Data Scientist,105000-167000,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,$1 to $5 million (USD)
671,671,Data Scientist,105000-167000,Description The Data Scientist will be part o...,2.7,1-800-Flowers,"New York, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,$1 to $2 billion (USD)

In [8]:
#Find another value and replace it with unknown
df['Size'].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', '-1', 'Unknown'],
      dtype=object)

In [9]:
df['Size'] = df['Size'].str.replace('-1', 'Unknown')

In [10]:
df['Founded'].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2017, 2011, 1967,
       1860, 1992, 2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966,
       1912, 1958, 2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995,   -1,
       1982, 1974, 2001, 1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939,
       2002, 1961, 1963, 1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004,
       1976, 1918, 1954, 1947, 1955, 2018, 1937, 1917, 1935, 1929, 1820,
       1952, 1932, 1894, 1960, 1788, 1830, 1984, 1933, 1880, 1887, 1970,
       1942, 1980, 1989, 1908, 1853, 1875, 1914, 1898, 1956, 1977, 1987,
       1896, 1972, 1949, 1962])

In [11]:
#Find another value and replace it with 0
df['Founded'] = df['Founded'].replace(-1, 0)

In [12]:
#Find another value and replace it with unknown
df['Type of ownership'].unique()

array(['Nonprofit Organization', 'Company - Public',
       'Private Practice / Firm', 'Company - Private', 'Government',
       'Subsidiary or Business Segment', 'Other Organization', '-1',
       'Unknown', 'Hospital', 'Self-employed', 'College / University',
       'Contract'], dtype=object)

In [13]:
df['Type of ownership'] = df['Type of ownership'].str.replace('-1', 'Unknown')

In [14]:
#Find another value and replace it with unknown
df['Industry'] = df['Industry'].str.replace('-1', 'Unknown')

In [15]:
df['Revenue'].value_counts()

Revenue
Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
-1                                   27
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: count, dtype: int64

In [16]:
#Find another value and replace it with Non-Applicable 
df['Revenue'] = df['Revenue'].str.replace('-1', 'Unknown / Non-Applicable')

In [17]:
#check everything is fine
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue
0,0,Sr Data Scientist,137000-171000,Description The Senior Data Scientist is resp...,3.1,Healthfirst,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Unknown / Non-Applicable
1,1,Data Scientist,137000-171000,"Secure our Nation, Ignite your Future Join th...",4.2,ManTech,"Chantilly, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,$1 to $2 billion (USD)
2,2,Data Scientist,137000-171000,Overview Analysis Group is one of the larges...,3.8,Analysis Group,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,$100 to $500 million (USD)
3,3,Data Scientist,137000-171000,JOB DESCRIPTION: Do you have a passion for Da...,3.5,INFICON,"Newton, MA",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,$100 to $500 million (USD)
4,4,Data Scientist,137000-171000,Data Scientist Affinity Solutions / Marketing ...,2.9,Affinity Solutions,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,105000-167000,Summary We’re looking for a data scientist to...,3.6,TRANZACT,"Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Unknown / Non-Applicable
668,668,Data Scientist,105000-167000,Job Description Become a thought leader within...,-1.0,JKGT,"San Francisco, CA",Unknown,0,Unknown,Unknown,Unknown / Non-Applicable
669,669,Data Scientist,105000-167000,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",Unknown,0,Unknown,Unknown,Unknown / Non-Applicable
670,670,Data Scientist,105000-167000,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA",1 to 50 employees,0,Company - Private,Advertising & Marketing,$1 to $5 million (USD)
671,671,Data Scientist,105000-167000,Description The Data Scientist will be part o...,2.7,1-800-Flowers,"New York, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,$1 to $2 billion (USD)

In [18]:
df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Revenue              0
dtype: int64

In [19]:
import plotly.express as px

In [20]:
#make visual chart for an example
avg_rating = df.groupby('Industry')['Rating'].mean().reset_index()
avg_rating

                                    Industry    Rating
0                                 Accounting  4.166667
1                    Advertising & Marketing  3.800000
2                        Aerospace & Defense  3.782609
3       Architectural & Engineering Services  3.600000
4                      Banks & Credit Unions  3.687500
5                  Biotech & Pharmaceuticals  3.683333
6      Cable, Internet & Telephone Providers  2.900000
7                     Chemical Manufacturing  3.366667
8                    Colleges & Universities  3.000000
9               Computer Hardware & Software  4.238596
10                              Construction  3.400000
11                                Consulting  3.660526
12  Consumer Electronics & Appliances Stores  3.500000
13           Consumer Products Manufacturing  3.600000
14       Department, Clothing, & Shoe Stores  3.500000
15     Electrical & Electronic Manufacturing  3.466667
16                                    Energy  3.700000
17   Enterprise Software & Network Solutions  4.093023
18                 Express Delivery Services  3.200000
19                     Farm Support Services  3.500000
20                          Federal Agencies  3.975000
21          Financial Transaction Processing  3.600000
22             Food & Beverage Manufacturing  3.900000
23                    Food & Beverage Stores  3.700000
24          Health Care Services & Hospitals  3.304762
25                 Health, Beauty, & Fitness  4.000000
26                 Hotels, Motels, & Resorts  3.500000
27                               IT Services  3.780328
28                  Industrial Manufacturing  3.700000
29           Insurance Agencies & Brokerages  3.300000
30                        Insurance Carriers  3.635714
31                                  Internet  3.825926
32     Investment Banking & Asset Management  3.815385
33                                   Lending  4.412500
34                  Logistics & Supply Chain  3.100000
35               Miscellaneous Manufacturing  3.700000
36                               News Outlet  3.300000
37                        Oil & Gas Services  2.900000
38                       Other Retail Stores  3.666667
39                                Publishing  4.700000
40                                      Rail  2.800000
41                               Real Estate  3.900000
42                    Research & Development  3.870588
43                                  Shipping  3.400000
44                         Social Assistance  2.800000
45                    Staffing & Outsourcing  4.147222
46                 State & Regional Agencies  3.200000
47          Telecommunications Manufacturing  3.300000
48               Telecommunications Services  3.240000
49                         Timber Operations  3.300000
50    Transportation Equipment Manufacturing  4.600000
51                 Transportation Management  3.700000
52                           Travel Agencies  3.500000
53                                   Unknown  1.042254
54                                 Utilities  3.466667
55          Venture Capital & Private Equity  4.400000
56                               Video Games  4.466667
57                                 Wholesale  2.633333

In [21]:
avg_rating = avg_rating.sort_values('Rating', ascending = False)
avg_rating

                                    Industry    Rating
39                                Publishing  4.700000
50    Transportation Equipment Manufacturing  4.600000
56                               Video Games  4.466667
33                                   Lending  4.412500
55          Venture Capital & Private Equity  4.400000
9               Computer Hardware & Software  4.238596
0                                 Accounting  4.166667
45                    Staffing & Outsourcing  4.147222
17   Enterprise Software & Network Solutions  4.093023
25                 Health, Beauty, & Fitness  4.000000
20                          Federal Agencies  3.975000
41                               Real Estate  3.900000
22             Food & Beverage Manufacturing  3.900000
42                    Research & Development  3.870588
31                                  Internet  3.825926
32     Investment Banking & Asset Management  3.815385
1                    Advertising & Marketing  3.800000
2                        Aerospace & Defense  3.782609
27                               IT Services  3.780328
35               Miscellaneous Manufacturing  3.700000
51                 Transportation Management  3.700000
23                    Food & Beverage Stores  3.700000
16                                    Energy  3.700000
28                  Industrial Manufacturing  3.700000
4                      Banks & Credit Unions  3.687500
5                  Biotech & Pharmaceuticals  3.683333
38                       Other Retail Stores  3.666667
11                                Consulting  3.660526
30                        Insurance Carriers  3.635714
3       Architectural & Engineering Services  3.600000
13           Consumer Products Manufacturing  3.600000
21          Financial Transaction Processing  3.600000
14       Department, Clothing, & Shoe Stores  3.500000
26                 Hotels, Motels, & Resorts  3.500000
52                           Travel Agencies  3.500000
19                     Farm Support Services  3.500000
12  Consumer Electronics & Appliances Stores  3.500000
15     Electrical & Electronic Manufacturing  3.466667
54                                 Utilities  3.466667
10                              Construction  3.400000
43                                  Shipping  3.400000
7                     Chemical Manufacturing  3.366667
24          Health Care Services & Hospitals  3.304762
49                         Timber Operations  3.300000
47          Telecommunications Manufacturing  3.300000
29           Insurance Agencies & Brokerages  3.300000
36                               News Outlet  3.300000
48               Telecommunications Services  3.240000
46                 State & Regional Agencies  3.200000
18                 Express Delivery Services  3.200000
34                  Logistics & Supply Chain  3.100000
8                    Colleges & Universities  3.000000
37                        Oil & Gas Services  2.900000
6      Cable, Internet & Telephone Providers  2.900000
44                         Social Assistance  2.800000
40                                      Rail  2.800000
57                                 Wholesale  2.633333
53                                   Unknown  1.042254

In [22]:
fig = px.bar(avg_rating, x = 'Industry', y = 'Rating')
fig.show()